---
const { image, url, title, pubDate, previewText, tags} = Astro.props;
import ButtonBlog from "../ButtonBlog.astro";
---

<section class=" transition-transform duration-300 hover:scale-110 sm:px-4">
        
        <a href={url} class="overflow-hidden">
        <div class=" h-44">
            <img src={image.url} alt={image.alt} class="w-full h-full object-cover">
        </div>
        
        <div class="flex gap-4 py-2 justify-between">
            <p class=" text-base">{pubDate}</p>
            <p class=" text-base text-naranja font-semibold" >{tags}</p>
        </div>
        <h3 class="uppercase">{title}</h3>

        <p class="text-gray-800 text-lg text-justify">{previewText}</p>
        <ButtonBlog/>
    </a>
</section>