---

import CardsInicio from "./CardsInicio.astro";

const postList = await Astro.glob("/src/pages/posts/*.md");


const postsArray = Object.values(postList).map(post => ({
  title: post.frontmatter.title,
  previewText: post.frontmatter.previewText,
  image: post.frontmatter.image,
  pubDate: post.frontmatter.pubDate,
  tags: post.frontmatter.tags,
  url: post.url
})).sort((a, b) => b.date - a.date);

const latestPosts = postsArray.slice(0, 4);
---

<div class="max-w-screen-xl mx-auto sm:my-8 md:my-24">
    <ul class="grid md:grid-cols-2 sm:grid-cols-1 lg:grid-cols-4 gap-8">
            {latestPosts.map(post => (
                <li><CardsInicio title={post.title} image={post.image} url={post.url} previewText={post.previewText} pubDate={post.pubDate} tags={post.tags} /></li>
              
            ))}
    </ul>
  </div>