---

import BotonPrincipal from "../BotonPrincipal.astro";
import CardsInicio from "./CardsInicio.astro";

const postList = await Astro.glob("/src/pages/posts/*.md");


const postsArray = Object.values(postList).map(post => ({
  title: post.frontmatter.title,
  previewText: post.frontmatter.previewText,
  image: post.frontmatter.image,
  pubDate: post.frontmatter.pubDate,
  tags: post.frontmatter.tags,
  url: post.url
})).sort((a, b) => b.date - a.date);

const latestPosts = postsArray.slice(0, 4);
---

<div class="max-w-screen-xl mx-auto sm:my-8 md:my-16 lg:px-14">
   <hr class="bg-naranja mb-8">
  <div class=" md:mb-4 sm:p-4">
    <div class="flex mb-4 items-center sm:justify-between lg:justify-start">
      <h2 class="md:mr-8 sm:mr-2">NUESTRO BLOG</h2>
    <BotonPrincipal url="#" text="Visitar Blog" estilos="bg-naranja hover:bg-transparent hover:text-naranja hover:border border-naranja text-white !w-auto !text-base"/>
    </div>
    <p class="md:w-[600px] sm:w-auto text-azul font-bold" >Visita nuestro blog y mantente al día con consejos, novedades y tendencias que harán que tu camión siempre esté en su mejor forma. ¡No te lo pierdas!</p>
 
  </div>


    <ul class="grid md:grid-cols-2 sm:grid-cols-1 lg:grid-cols-4 gap-8">
            {latestPosts.map(post => (
                <li><CardsInicio title={post.title} image={post.image} url={post.url} previewText={post.previewText} pubDate={post.pubDate} tags={post.tags} /></li>
              
            ))}
    </ul>
  </div>