---
import Categories from "../components/Blog/Categories.astro";
import LatestPosts from "../components/Blog/LatestPosts.astro";
import BlogLayout from "./BlogLayout.astro";

const { frontmatter, image, title, tags } = Astro.props;
---

<BlogLayout title={frontmatter.title}>
    <div class="max-w-screen-xl mx-auto p-5 sm:p-4 md:p-12 relative">      
            <article class="flex flex-col justify-center  md:gap-6 sm:gap-2">
                    
                        <div class="w-full h-[500px]">
                            <img class="w-full h-full object-cover" src={frontmatter.image.url} alt="" />
                        </div>
                        <h1 class="text-azul md:text-6xl sm:text-5xl text-center mb-2">
                            {frontmatter.title}</h1>

        <section class="post-body md:px-24">
            <div class="flex items-center">   
                <a
                href="#"
                class="text-lg uppercase font-medium hover:text-azul hover:underline"
            >
                {frontmatter.tags}
            </a>

            <hr class="h-4 w-[1px] border-0 bg-black mx-4">

            <span class="text-lg font-lato font-light text-gray-400">{frontmatter.pubDate}</span>

            </div>
            <slot />
        </section>
    
                </article>

        </div>
</BlogLayout>

