---
import BlogLayout from "./BlogLayout.astro";

const { frontmatter, image, title, tags } = Astro.props;
---

<BlogLayout title={frontmatter.title}>
    <div class="lg:w-[1300px] mx-auto md:p-0 sm:p-4 relative mt-[90px]">
        <article
            class="flex flex-col justify-center md:gap-6 sm:gap-0 bg-gray-100 sm:p-4"
        >
            <div class="w-full h-[500px]">
                <img
                    class="w-full h-full object-cover"
                    src={frontmatter.image.url}
                    alt=""
                />
            </div>

            <section class="post-body md:px-36 md:py-16">
                <div class="flex items-center">
                    <a
                        href="#"
                        class="text-lg uppercase font-medium hover:text-azul hover:underline"
                    >
                        {frontmatter.tags}
                    </a>

                    <hr class="h-4 w-[1px] border-0 bg-black mx-4" />

                    <span class="text-lg font-lato font-light text-gray-400"
                        >{frontmatter.pubDate}</span
                    >
                </div>
                <h1 class="sm:text-2xl lg:text-2xl xl:text-5xl font-myriad font-extrabold text-azul sm:text-left lg:text-left sm:leading-none uppercase my-4">
                    {frontmatter.title}
                </h1>

                <slot />
            </section>
        </article>
    </div>
</BlogLayout>
