---
import Categories from "../components/Blog/Categories.astro";
import LatestPosts from "../components/Blog/LatestPosts.astro";
import BlogLayout from "./BlogLayout.astro";

const { frontmatter, image, title, tags } = Astro.props;
---

<BlogLayout title={frontmatter.title}>
    <div class="max-w-screen-xl mx-auto mt-32 p-5 sm:p-8 md:p-12 relative">
        

        <div class="max-w- mx-auto">
            
            <div class="grid grid-cols-1 xl:grid-cols-1 gap-4 px-4 py-4">
                <article class="">
                    <img class="w-auto" src={frontmatter.image.url} alt="" />
                    <div class="flex items-center">   
                        <a
                        href="#"
                        class="text-lg uppercase font-medium hover:text-azul hover:underline"
                    >
                        {frontmatter.tags}
                    </a>

                    <hr class="h-4 w-[1px] border-0 bg-black mx-4">

                    <span class="text-lg font-lato font-light text-gray-400">{frontmatter.pubDate}</span>

                    
                    </div>
                    
      <h1 class="text-gray-900 font-bold text-3xl mb-2">
    {frontmatter.title}
</h1>
        <section class="post-body">
            <slot />
        </section>
    
                </article>

        </div>
    </div>
</BlogLayout>

